<!-- <div>
    <p>do you want to delete?</p>
    <button (click)="cancel()">no</button>
   <button (click)="DeleteProduct()">yes</button>
</div> -->
<div class="container row w-100">
    <p style="font-family:'Roboto', sans-serif;margin-left: 1001px;margin-top: 10%;">do you want to delete?</p>
    
        <div class="left col-6 text-center "><button (click)="cancel()" class="btn mt-2 text-light" style="font-family:'Roboto', sans-serif;">No</button> </div>
        <div class="right col-6 text-center"><button (click)="DeleteProduct()" class="btn mt-2 ms-3 text-light" style="font-family:'Roboto', sans-serif;">
            Yes</button> </div>
   
</div>
<div style="height:500px;width: 100%;background-color: white;"></div>
